
body {
	
	min-width:1500px;
	height:768px;
	margin:0px auto;
	padding:0;
	border:0;
	background-color:#FFF;
	widows:inherit;
}


#main-navigation { 	
					 
	font-family:"Courier New", Courier, monospace; 
	
	font-stretch:ultra-expanded;
}

#main-navigation ul {

	list-style:none;
	margin-top:70px; 
	margin-bottom:0px;
	padding: 0px;
}

#main-navigation ul li {

	display:inline;
	margin-left: 30px;
	float:left;
}

#main-navigation a { 

	color:#000; text-decoration:none;
}

#all-content{

	font-family:"Courier New", Courier, monospace;
	position: absolute;
	margin-left: 30px;
	margin-top: 40px;
	width: 100%;
}

#main-navigation #all-content .second-level-content  {

	color: #000;
}

#main-navigation #all-content #signal-click {

	margin-right: 40px;
}

#main-navigation #all-content #reach-click {

	margin-right: 40px;
}

#main-navigation #all-content #tarek-click {

	margin-right: 40px;
}

.external-links {

	margin-right: 40px;

}

.project-text{

	color: #999;
	width: 500px;
	display: inline-block;
	vertical-align: top;
	padding-top: 35px;
}

.game-text{

	color: #999;
	width: 500px;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
}

.slide{

	
	margin-top: 50px;
	text-align: right;
	overflow: hidden;	
	width: 600px;
	height: 800px;
}

.image-wrapper {

	display: inline-block;
	width: 690px;
	height: 900px;
}

#title {

	margin-right: 250px;
	margin-top: -25px;
	float: right;
	color: #09c;
	letter-spacing: 20px;
	font-size: 22px;

	
}

.current-link {

	background-color: red;
}

#main-navigation ul {

	margin-top: 30px;
}

.slidesjs-container {

	height:650px!important;
	width: 650px!important;	
}

.slidesjs-next {

	margin-left: 20px;
	color: #999!important;
}

.slidesjs-previous {

	color: #999!important;
}

.underline {

	border-bottom:1px solid #999;
}

.underline-link{

	color:#999!important;
	text-decoration:underline!important;
}

#UnityEmbed {
	margin-top: 20px;
}

